html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #f5f5f5;
  display:flex;

}
main{
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
.header-logo{
    width: 80px;
    height: 80px;
}




