div {
    width: 600px;
    height: 400px;
    border: 2px solid #145;
    margin: auto;
    margin-bottom: 10px;
    background-color: aquamarine;
}
div p{
    float: left;
    width: 158px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    color: red;
}

